@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-image: url("https://image.freepik.com/free-photo/dollar-bills-light-colored-background-copy-space-top-view-business-concept_79075-3099.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;

 

}



